#holder {
	margin: 0px auto;
	margin-top: 16px;
	z-index: 0;
	width: 800px;
}
body {
	margin:0px auto;
}
#spirit {
	position:relative;
	left:5px;
	top:117px;
	width:232px;
	height:31px;
	z-index:2;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 2px;
}
#citizen {
	position:absolute;
	left:5px;
	top:264px;
	width:277px;
	height:31px;
	z-index:2;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 2px;
}
#titlebar {
	left:300px;
	top:20px;
	z-index:3;
	font-size: 48px;
	color: #FFFFFF;
	letter-spacing: 2px;
	text-align: right;
	right: 20px;
}
#citypolice {
	position:absolute;
	left:21px;
	top:152px;
	width:121px;
	height:35px;
	z-index:4;
}
#flib {
	position:absolute;
	left:146px;
	top:152px;
	width:50px;
	height:35px;
	z-index:5;
}
#ourtalisman {
	position:absolute;
	left:200px;
	top:152px;
	height:35px;
	z-index:6;
	width: 145px;
}
#bankcrisis {
	position:absolute;
	left:351px;
	top:152px;
	width:124px;
	height:35px;
	z-index:7;
}
#boz {
	position:absolute;
	left:481px;
	top:152px;
	width:51px;
	height:35px;
	z-index:8;
}
#spbc {
	position:absolute;
	left:21px;
	top:196px;
	width:326px;
	height:35px;
	z-index:9;
}
#satires {
	position:absolute;
	left:352px;
	top:196px;
	width:148px;
	height:35px;
	z-index:10;
}
#mysterious {
	position:absolute;
	left:21px;
	top:313px;
	width:178px;
	height:35px;
	z-index:11;
}
#walnut {
	position:absolute;
	left:206px;
	width:264px;
	height:35px;
	z-index:12;
	top: 313px;
}
#spermaceti {
	position:absolute;
	left:481px;
	top:313px;
	width:234px;
	height:35px;
	z-index:13;
}
#smallcott {
	position:absolute;
	left:21px;
	top:359px;
	width:355px;
	height:35px;
	z-index:14;
}
#misc {
	position:absolute;
	left:387px;
	top:359px;
	width:162px;
	height:35px;
	z-index:15;
}
#articleList {
	position:absolute;
	left:0px;
	top:454px;
	width:794px;
	height:300px;
	z-index:16;
}
	

a {
	border: none;
	}
#articleList a {
	color: #000000;
	text-decoration: none;
}
#articleList a:hover {
	background-color: #CCCCCC;
}

p { margin:0px }
