#bglayer {
	position:absolute;
	left:0px;
	top:0px;
	width:800;
	height:488px;
	z-index:1;
	background-image: url(images/bgimage.jpg);
}
body {
	background-image: url(images/bgimage.jpg);
	background-repeat: repeat-x;
}

#intro {
	/*-moz-background-clip:border;
	-moz-background-inline-policy:continuous;
	-moz-background-origin:padding;*/
	/*background:#CCCCCC none repeat scroll 0 0;
	border:2px groove;*/
	left:18px;
	/*padding:5px;*/
	position:absolute;
	top:60px;
	/*width:200px;*/
}

#intro a {
	color: white;
	text-decoration: none;
}

#textwrapper {
	position:absolute;
	top: 500px;
}

    #articleList {
    height:300px;
    left:0;
    position:relative;
    top:0;
    width:550px;
    z-index:16;

}

#seriesheader {
    left:600px;
    position:absolute;
    top:0;
    width:400px;
}

#spirit {
	position:absolute;
	left:5px;
	top:117px;
	width:232px;
	height:31px;
	z-index:2;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 2px;
}
#citizen {
	position:absolute;
	left:5px;
	top:286px;
	width:277px;
	height:31px;
	z-index:2;
	font-size: 24px;
	color: #FFFFFF;
	letter-spacing: 2px;
}
#titlebar {
	position:absolute;
	width:623px;
	height:101px;
	z-index:3;
	font-size: 48px;
	color: #FFFFFF;
	letter-spacing: 2px;
	text-align: right;
	right: 20px;
}
#citypolice {
	position:absolute;
	left:21px;
	top:152px;
	width:121px;
	height:35px;
	z-index:4;
}
#flib {
	position:absolute;
	left:146px;
	top:152px;
	width:50px;
	height:35px;
	z-index:5;
}
#ourtalisman {
	position:absolute;
	left:200px;
	top:152px;
	height:35px;
	z-index:6;
	width: 145px;
}
#bankcrisis {
	position:absolute;
	left:348px;
	top:152px;
	width:124px;
	height:35px;
	z-index:7;
}
#boz {
	position:absolute;
	left:478px;
	top:152px;
	width:51px;
	height:35px;
	z-index:8;
}
#spbc {
	position:absolute;
	left:21px;
	top:196px;
	width:326px;
	height:35px;
	z-index:9;
}
#satires {
	position:absolute;
	left:352px;
	top:196px;
	width:148px;
	height:35px;
	z-index:10;
}
#mysterious {
    height:35px;
    left:504px;
    position:absolute;
    top:195px;
    width:178px;
    z-index:11;
}

#walnut {
    height:35px;
    left:21px;
    position:absolute;
    top:321px;
    width:264px;
    z-index:12;
}
#spermaceti {
	position:absolute;
	left:290px;
	top:321px;
	width:234px;
	height:35px;
	z-index:13;
}
#smallcott {
	position:absolute;
	left:21px;
	top:240px;
	width:355px;
	height:35px;
	z-index:14;
}
#misc {
	position:absolute;
	left:530px;
	top:322px;
	width:162px;
	height:35px;
	z-index:15;
}


img {
	border:0px;
	}
	

a {
	border: none;
	}
#articleList a {
	color: #000000;
	text-decoration: none;
}

#rest {
    display: none;
    
}


#articleList a:hover {
	background-color: #CCCCCC;
}

#lippic {
	position:absolute;
	top:-32px;
	width:341px;
	height:521px;
	z-index:1;
	right: 1px;
}

#footer {
	position:absolute;
	left:10px;
	top:1000px;
	padding: 5px;
	border:2px groove;
	border-color:#000;
	background-color:#CCC;
	font-weight:normal;
}


p { margin:0px }
