<p>[J] A. Brownson Smallcott Apologues <br>
</p><br />

<p>This pair of &ldquo;Apologues&rdquo; 
appeared at the very end of Lippard&rsquo;s time on the staff of <i>The 
Spirit of the Times</i>.  Each of them presents a story that &ldquo;smacks 
of transcendentalism&rdquo; and purportedly derives from &ldquo;a small volume 
in the Arabic&rdquo; (J1).  Their attribution incidentally pokes fun 
at a leading American Trancendentalist, (Amos) Bronson Alcott (1799-1888), 
who was most famous at this time for the &ldquo;Orphic Sayings&rdquo; he was 
publishing in the leading Transcendentalist journal, <i>The Dial</i>, 
in 1840-42 (the last batch of them were published there in this very 
month, April 1842).  But the satire seems not to be directed very 
powerfully at Transcendentalism generally, or even at Alcott particularly, 
except inasmuch as it brings moral abstractions like &ldquo;evil&rdquo; down 
to the ground of material reality (a painfully tight pair of boots, 
the unfeeling greed of a bank director).</p><br />

