<p>[D] Bank Crisis<br><p><br />


<p>Financial corruption was a conspicuous theme of the &ldquo;Our Talisman&rdquo; series, and during the same period of 
time there appeared in <i>The Spirit of the Times</i>
a series of dramatic reports on the public disturbances occasioned by 
a series of bank failures in Philadelphia.  Although these articles 
have not previously been attributed to Lippard, they are closely linked 
in tone and theme to the &ldquo;Our Talisman&rdquo; sketches; indeed, in the 
first one of these, Flib made an appearance and used his magic ring 
to enter a crowded banking room and report back on what he saw.  
This explicit connection&mdash;via the presence of Flib&mdash;to the &ldquo;Our 
Talisman&rdquo; series (which has been securely attributed to Lippard), 
and the obvious resemblances among the five articles collected below, 
as well as the indignant scoffing at financial chicanery which was a 
hallmark of Lippard&rsquo;s writing at this time, combine to make it nearly 
certain that these were Lippard&rsquo;s work too.
<a id="readmore" href="javascript:readMore()">Read More ... </a>
</p><br />


<span id="rest">
<p>The United States underwent a financial 
depression between 1837 and 1842, which began with the failure of New 
York banks (they ceased redeeming their paper notes with specie, i.e., 
gold or silver coin).  These street-level reports by Lippard thus 
recorded the ongoing crisis of the financial system, tried to assign 
blame to corrupt bankers, and strove to draw attention to the consequences 
of this crisis for the everyday lives of individuals whose bank notes 
had been depreciated or rendered worthless.</p>
</span>
