  <p>[H] Mysterious Story <br>
</p><br />

<p>This hitherto unnoticed sketch seems 
plainly to be the germ of what would soon be Lippard&rsquo;s major success, <i>
The Quaker City</i> (1844-45).  Like that slightly later novel 
this sketch featured a haunting description of a &ldquo;large and magnificent 
mansion,&rdquo; furnished in luxurious splendor, situated in an unnamed 
precinct of Philadelphia, functioning as a secret headquarters for drinking 
and gambling as well as other forms of &ldquo;revelry and debauchery,&rdquo; 
populated by &ldquo;shameless females,&rdquo; and attracting hitherto upstanding 
young men who were morally corrupted by the &ldquo;sinful although bewildering 
pleasures&rdquo; on offer within.  There was a dark hint, too, that 
anyone who betrayed &ldquo;the secrets of the establishment&rdquo; would be 
murdered forthwith by the proprietor.  In short, the <i>mise-en-sc&egrave;ne</i> 
of <i>The Quaker City.</i></p><br />
