  <p>[G] Social Satires <br>
</p><br />

<p>Because the first two of these satires 
featured Flib, they are here attributed to Lippard; their general resemblance 
to one another, and to the accounts Lippard wrote of the &ldquo;Boz&rdquo; ball, 
also recommend them as most likely his writings.  They bespoke 
amusement at the vapid pretensions of young Philadelphians aspiring 
to social notice, a keen ear for ninnyish prattle, and close observation 
of minor class distinctions in their moment of social production&mdash;all  
characteristically Lippardian.</p><br />
