<p>[F] Sanguine Poetaster/Bread Crust 
Papers <br></p> <br />
<p>In this series of sketches Lippard 
continued, in another vein, the critique of the local literary world 
that had informed his writings on Dickens&rsquo; visit to America.  
His object here was to make fun of a nw-forgotten but then-popular local 
poet, Henry B. Hirst (1813-74), here called &ldquo;Henry Bread Crust.&rdquo;  
First came a pair of &ldquo;The Sanguine Poetaster&rdquo; sketches, and then, 
extending the series, a continuation under the title &ldquo;The Bread Crust 
Papers.&rdquo;  Lippard represented Hirst as a pretentious fop whose &ldquo;voice 
half exquisite, half womanish&rdquo; (F4) was characterized by an affected 
drawl and lisp&mdash;the &ldquo;Chestnut street &lsquo;lithp&rsquo;&rdquo; (F7), he called 
it.   An insipid sentimentalist, the author of execrably silly 
twaddle, Bread Crust was soon joined in Lippard&rsquo;s satirical series 
by his friend and fellow poet Thomas Dunn English (1819-1902), here 
denominated &ldquo;Thomas Done Brown,&rdquo; who is at least slightly less lost 
to literary history than is Hirst (English manages to have one poem, 
&ldquo;Ben Bolt,&rdquo; widely popular in its day, included in the Library of 
America&rsquo;s anthology of nineteenth-century American poetry).  
Bread Crust and Done Brown compete with gooey rhetoric for the affections 
of one Angeline Smivers, who, however, seems distinctly less interested 
in poetry than in a good hearty breakfast. The object of the satire, 
in brief, was the deplorable popular taste for shallow sentimental poetry: 
its absurdity was put into drastic critical context by Lippard&rsquo;s dramatic 
adversion (or Angeline&rsquo;s) to the basic material necessities of life.
<a id="readmore" href="javascript:readMore()">Read More ... </a>
</p><br />
<span id="rest">
<p>[Readers will note that the series, 
as presented here, is incomplete; David Reynolds in his Twayne biography 
reports that there is a final April 1 installment (which would be consistent 
with the note at the end of the March 31 installment promising that 
the series would be &ldquo;Concluded to-morrow&rdquo;), in which the cowardly 
Done Brown fails to show up for the duel in Camden; but at present I 
do not possess a copy of this concluding episode.] </p>
</span>
