<p>[L] The Walnut Coffin Papers <br>
</p><br />

<p>These satires extended the satirical 
treatment Lippard gave in the &ldquo;Spermaceti Papers&rdquo; to the Philadelphia 
literary coterie of Graham, Griswold, et al.  Even Lippard seemed 
to concede here, however, that his satirical energy had deteriorated: 
in the third of the &ldquo;Walnut Coffin Papers,&rdquo; he concluded by acknowledging 
honestly that readers in the &ldquo;country&rdquo; might find the satire incomprehensible, 
and the allegory opaque.  (Readers in the metropolis may also have 
found it a bit threadbare, and merely petulant.)  Rumpus Grizzle 
(like his real-life model, Rufus Griswold) purported to make literary 
reputations, and here he bestowed critical recognition upon a young 
apprentice who polished babies&rsquo; coffins in a warehouse but dreamed 
of literary celebrity.  What exactly was this allegory about, however?  
It does, finally, seem rather impenetrable, as if Lippard&rsquo;s critique 
of &ldquo;literary charlatans&rdquo; (L3) had now degenerated into hit-or-miss 
ridicule driven by stale resentments.  His editorial stint with <i>
The Citizen Soldier</i> was soon ended.</p><br />
