<p>[E] Boz <br></p><br />
<p>When Charles Dickens visited Philadelphia 
in February 1842, Lippard was an attentive and ambivalent observer.  
Over the course of a series of articles on Dickens&rsquo; visit, Lippard 
articulated in embryonic form a critique of the literary public sphere 
(to use the Habermasian term) or the literary field (to invoke Bourdieu&rsquo;s 
category).  He described an American literary world invidiously 
organized into high and low sectors, controlled by middlebrow idiots, 
corrupted by dishonest insider backscratching (the &ldquo;tickle-me-and-I&rsquo;ll-tickle-<WBR>you&rdquo; 
club, as he called it repeatedly), and abjectly worshipful of foreign 
authors&mdash;while presumably not recognizing its own native geniuses.  
These matters of local literary politics would continue to rile him 
inordinately, and his critique would soon reach its fullest articulation 
in the &ldquo;Sanguine Poetaster/Bread Crust&rdquo; series, the &ldquo;Spermaceti 
Papers,&rdquo; and the &ldquo;Walnut Coffin&rdquo; sketches. 
<a id="readmore" href="javascript:readMore()">Read More ... </a>
</p><br />


<span id="rest">

<p>Several of the articles reprinted 
here have been previously attributed to Lippard (E1-2, E11; the latter 
is also included under the &ldquo;City Police&rdquo; series as A11).  But 
the others are newly attributed, on the grounds of their remarkable 
resemblance to those previously attributed, as well as the thematic 
continuity and tonal consistency of all of them.   Together 
they make up a coherent account of this episode in American literary 
history.  Throughout these articles, Lippard admired Dickens and 
welcomed the prospect of his visit to Philadelphia; but he deplored 
the &ldquo;insipid adulation&rdquo; (E2) bestowed upon Dickens, scornfully characterized 
as the &ldquo;sycophancy of &rsquo;a free and enlightened people&rsquo;&rdquo; (E11), 
and  resented deeply the attempt by a self-appointed clique of &ldquo;small 
potatoes literati&rdquo; (passim) to monopolize Dickens and cozy up to his 
celebrity, while excluding socially-unconnected neophytes like Lippard 
who, moreover, worked for penny papers of radical democratic orientation.  
He credited Dickens, however, with the ability to see through the fakery 
and stupidity of his abject American lionizers. <br></p><br />
<p>Of particular interest here is the 
series of three reports, published on three days in a row, detailing 
(and mocking) a fancy ball held in New York City to celebrate Dickens&rsquo; 
visit there (E3-5).  All of Lippard&rsquo;s ambivalence about the Dickens 
phenomenon can be detected here.  In the first (E3), there was 
an incipient tone of mockery (&ldquo;If Boz had been a very God, he could 
not have received more adulation and worship&rdquo;), but all the details 
of the extravagant event were nevertheless recorded with evident relish.  
The next day, curiously, the same event was re-told, but with a conspicuously 
heavier dose of satire, seemingly reflecting sardonically upon the previous 
day&rsquo;s admiring attention to the rich details of conspicuous social 
display.  Now Lippard bluntly called this event the &ldquo;tom-foolery 
of silly-minded Americans&rdquo; (E4).  One day later again, he ratcheted 
up the scorn another level: the New York ball was &ldquo;a complete burlesque 
of the American character . . . because of the egregious buffoonery 
of our literary monkeys&rdquo; (E5).  It is as if we can see Lippard&rsquo;s 
critique of the false and invidious structure of his literary environment 
taking increasingly severe shape day by day.  </p>
