<p> [B] Flib </p><br />
<p>This section contains an assortment 
of short pieces involving (and attributed to) the character &ldquo;Flib,&rdquo; 
the eccentric, mischievous, notoriously red-haired newsroom (&ldquo;sanctum&rdquo;) 
hanger-on who has a central role in the following series, &ldquo;Our Talisman.&rdquo;  
In that more extensive series of sketches, Flib possessed a magic ring 
that rendered him invisible and enabled him to penetrate unobserved 
into secret social spaces (a bank directors' meeting, for example) 
where he discovered various forms of financial and moral chicanery.  
In these less elaborate sketches, which supplemented the &ldquo;Our Talisman&rdquo; 
series, he was given an opportunity to reflect humorously upon newsroom 
bores, courtroom eloquence, and other social phenomena.  In &ldquo;Feast 
of Intellect&rdquo; (B3) he enlisted Toney Blink to help publicize a planned 
bit of hokum: he would announce himself as a popular lecturer on &ldquo;phrenology, 
philosophy, physiology, electro-magnetism, legal jurisprudence, dentistry, 
and the belles lettres.&rdquo;</p>

