<p>[M] Miscellaneous <br>
</p><br />

<p>This section collects a variety of 
miscellaneous items from <i>The Citizen Soldier</i> that seem most likely 
to have been written by Lippard.  Several of them have been previously 
attributed to him, but most have not explicitly been credited to his 
pen.  Lippard began working as an anonymous writer and editor for 
this newspaper in January 1843; by May of that year (according to David 
Reynolds&rsquo; Twayne biography) he had become its chief writer, and by 
July its chief editor.  Indeed, it is difficult to read through 
the pages of <i>The Citizen Soldier</i> for those months without detecting 
Lippard&rsquo;s signature everywhere, and doubtless there are other pieces 
in the pages of the newspaper that could also be attributed to Lippard.  
The various commentaries on the state of American literature (M2, M7) 
and the situation of journalism in Philadelphia (M1, M4, M9, M13), the 
hostility to George R. Graham (M12), and the taunting of his former 
employer <i>The Spirit of the Times</i> (M4, M10) were consistent with 
views Lippard articulated elsewhere and reflected his usual resentments.  
The statements of the paper&rsquo;s political agenda (M3, M11) were unmistakably 
Lippardian.  &ldquo;The Legend of the Coffee Bags&rdquo; (M5) obviously 
appeared under Lippard&rsquo;s byline, but in any case was an elaboration 
of a short sketch he had published in a &ldquo;City Police&rdquo; column in 
January 1842, included above (A6).  Together these pieces depict 
Lippard as a writer increasingly frustrated by the practice of journalism, 
discouraged by the state of American literature, and ambitious to attempt 
literary production on a larger scale and with a bolder agenda.</p><br />

