 <p>[K] The Spermaceti Papers <br>
</p><br />

<p>This series of satirical sketches 
was the most highly realized of Lippard&rsquo;s journalistic serial inventions 
in the period of his emergence as a writer.  It brought to its 
fullest expression his critique of the insider politics, narrow moralism, 
insipid taste, and hypocritical self-dealing that characterized (as 
he represented it) the closed world of Philadelphia publishing at a 
time when it was dominated by the George R. Graham Company and its many 
publications.  Lippard had published a couple of pieces in Graham 
periodicals after leaving the <i>Spirit of the Times</i> in mid-1842.  
His &ldquo;Philippe de Agramont&rdquo; appeared in the <i>Saturday Evening Post</i> 
on July 9, 1842; &ldquo;Herbert Tracy&rdquo; appeared serially in six installments 
in Graham&rsquo;s <i>United States Saturday Post and Chronicle</i> between 
Oct. 22 and Nov. 26, 1842.  But his relations with Graham and his 
coterie were not happy, and Lippard evidently was aware of his friend 
Edgar Allan Poe&rsquo;s troubled experience as an employee of the Graham 
establishment as well.  (Very likely Poe was providing him with 
inside information about Graham and his cronies.)  Eventually Lippard&rsquo;s 
distrust of Graham and his group, and his vitriolic hatred for what 
he saw as their intellectual imbecility and moral hypocrisy, issued 
in a series of unsparing allegories of literary parochialism, the &ldquo;Spermaceti 
Papers&rdquo; and their continuation, the &ldquo;Walnut Coffin Papers.&rdquo; <br>
<a id="readmore" href="javascript:readMore()">Read More ... </a></p><br />
<span id="rest">
<p>Much of the detail in these sketches 
tracks very closely the vicissitudes of Graham&rsquo;s business maneuvers 
during this time.  His <i>Saturday Evening Post</i> did in fact 
absorb two rival &ldquo;mammoth weeklies&rdquo; (as they were called), the <i>

Saturday Chronicle</i> (pub. Matthias and Taylor) and the <i>United 
States</i> (pub Swain, Abell and Simmons).  The newly-compounded <i>
United States Saturday Post and Chronicle</i> retained traces of its 
two rivals in its elaborate new title, and in the first issue of the 
merged weekly the editors crowed about their now-enhanced circulation, 
as well as their ability to reduce their price because of an enlarged 
subscription base and economies of scale in the production process: 
clearly Graham was out to dominate the market and eliminate his rivals.  
The subtitle of this new merged weekly was &ldquo;A Family Newspaper, Neutral 
in Politics: Devoted to General News, Literature, Science, Morality, 
Agriculture and Amusement,&rdquo; and in an editorial notice it promised 
that the &ldquo;Popular Tales&rdquo; it published would be morally safe: &ldquo;It 
is devoted to the highest grade of light Literature, each number containing 
three or four chaste original and selected TALES; which, while they 
shall interest the young, shall at the same time point a moral.&rdquo;  
It is easy to imagine Lippard&rsquo;s disgust at the prospect of Graham&rsquo;s 
growing domination of the market, coupled with his explicit political 
disengagement, as well as his insipid moralism. All of this gets caricatured 
very neatly (K1) in the account of how Spermaceti Sam &ldquo;bought out&rdquo; 
two rival newspapers (here, the <i>Salt River Journals</i> and the <i>
Saturday stick-in-the-mud</i>), then blended them to form <i>The Salt 
River Saturday Stick and Universal Lamp-Post</i>, &ldquo;a new weekly, scientific, 
religious and literary paper&rdquo; dedicated to shallow and inoffensive 
literary pablum. <br></p><br />

<p>In these pieces George R. Graham was 
represented unkindly as &ldquo;the Grey Ham.&rdquo;  Samuel P. Patterson, co-publisher 
of the <i>Saturday Evening Post</i>, was caricatured as &ldquo;Spermaceti 
Sam.&rdquo;  &ldquo;Professor Peter Sun&rdquo; was a derogatory figure for 
Charles J. Peterson, a prolific regular contributor of banal fiction 
to Graham&rsquo;s magazines.   Rufus Wilmot Griswold, a famous 
anthologist and editor (and therefore the maker of canons and reputations), 
was mockingly christened &ldquo;Rumpus Grizzle.&rdquo;  Plainly Lippard personally 
resented their success, deplored their taste-making authority, and held 
it against them that they looked askance at his wild style and robust 
political engagement.  But he also articulated in an engaging fashion 
a serious critique of an American literary public sphere that had failed 
to recognize, reward and honor superior writers like Charles Brockden 
Brown (to whose memory Lippard would dedicate <i>The Quaker City</i>, 
and whose underrecognized virtues he championed in a separate piece 
reprinted below, M7), while celebrating unoriginal mediocrities like 
Peterson. <br></p><br />
<p>  </p><br /></span>
