<p>[C] Our Talisman</p><br />

<p>The &ldquo;Our Talisman&rdquo; sketches 
were Lippard&rsquo;s first venture into a more highly organized serial form 
of publication; they exhibited a basic narrative continuity that was 
absent from the naturally episodic character of the &ldquo;City Crimes&rdquo; 
reports.  Flib, the &ldquo;sanguine haired youth&rdquo; (C1) possessed 
of an odd vernacular and apparently Irish accent, reported that one 
night as he was dozing in the newsroom, a spirit with two horns and 
a curly tail appeared suddenly and gave him a magic ring (the &ldquo;talisman&rdquo;).  
The ring&rsquo;s supernatural powers included the ability to render the 
wearer invisible (so that he could venture unseen into places where 
he would otherwise not be admitted) and also the ability to see into 
other people&rsquo;s minds and discern their true motives for their dubious 
actions.  With these extraordinary powers Flib set about to gather 
information for the newspaper, and help expose the &ldquo;festering corruption&rdquo; 
(C4) that plagued many of the city&rsquo;s institutions.  He penetrated 
a theatre&rsquo;s box office (C1), where the manager regularly cheated his 
employees; the (male) musicians, carpenters and machinists revolted 
against this exploitation, threatened to quit, and thus secured their 
due.  But when some (female) actresses asked for the money that 
was owed them, the cheating manager dismissed them cruelly.  Then 
Flib visited a courtroom invisibly (C2), where he saw a mulatto petty 
thief ridiculed and given harsh punishment, whereas (Flib contended) 
financial manipulation and abuse on a large scale by bankers was tolerated.  
The cronyism and dishonesty of bank directors was directly observed 
by Flib in several installments (C4-6, 8).  A long sketch (C4) 
showed systemic fraud in the post office: employees skimming funds to 
compensate for the postmaster&rsquo;s miserliness, while the postmaster 
contrived to make a scapegoat of a blameless clerk and thereby create 
the impression, with his superiors in Washington, that he was cracking 
down on corruption.  One short sketch (C7) was merely comic: two 
egotistical actors disputed about the accusation of thievery that one 
had made against the other.   Finally, &ldquo;Roguery in a Dry Good 
Store&rdquo; (C9) illustrated the trickle-down effect at the retail level 
of the financial crisis that had been dramatized from the point of view 
of the banking system in several earlier installments.
<a id="readmore" href="javascript:readMore()">Read More ... </a></p><br />
<span id="rest">
<p>All of the &ldquo;Our Talisman&rdquo; 
sketches rehearsed a literary device that Lippard used repeatedly thereafter 
during his writing career: they revealed the truth behind respectable 
appearances, opened up secret social spaces to inspection, exposed the 
truth of dire moral corruption and rampant economic domination.   
In <i>The Quaker City</i> he brought this trope of radical uncovering 
to full expression, purporting &ldquo;to lay bare vice in high places, and 
strip gilded crimes of their tinsel,&rdquo; to &ldquo;lift the cover from the 
Whited Sepulchre&rdquo; that was respectable Philadelphia society, &ldquo;to 
show the festering corruption that rankles in its depths&rdquo; (all phrases 
from the prefatory &ldquo;Origin and Object of this Book&rdquo;).</p>
</span>
